body {
    margin: 0;
    background-color: rgba(255, 153, 0, 0.8);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

@media (max-width: 767px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* NAME TITLE & VIGNETTE*/

@media (max-width: 767px){
    .mainName {
    color: white;
    position: fixed;
    top: 2%;
    left: 26%;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-shadow: 3px 3px 2px grey;
    cursor: default;
    z-index: 4;
}

}

@media (min-width: 768px){
.mainName {
    color: white;
    margin: 5%;
    position: absolute;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 500px;
    max-width: 450px;
    line-height: 1;
    text-shadow: 3px 3px 2px grey;
    user-select: none;
    z-index: 4;

    transition: transform 0.2s ease-in;
}
}


@media (max-width: 767px){
    .vignette-box {
        display: flex;
        flex-direction: column;
    }
}

.vignette-box {
    margin-top: -10%;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(ellipse at center, transparent 50%, rgba(121, 64, 255, 0.8) 100%);
    background-image: cover;

}

.overVignette {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-image: radial-gradient(ellipse at center, transparent 60%, rgba(20, 0, 66, 0.8) 100%);
    background-image: contain;
    opacity: 0.1;

    animation: 5s overVignetteShift linear infinite;
}
@media (min-width: 768px){
.overVignette {
    background-image: radial-gradient(ellipse at center, transparent 50%, rgba(20, 0, 66, 0.8) 100%);
}
}

@keyframes overVignetteShift {
    50% { filter: hue-rotate(180deg);}
    100% {filter: hue-rotate(360deg);}
}

@media(max-width: 767px){
.trapezoidBg {
    z-index: 3;
    width: 100vw;
    height: 30vh;
    background-color: rgba(255, 109, 109, 0.8);
    margin-top: 60%;
}
}

@media (min-width: 768px){
.trapezoidBg {
    z-index: 3;
    height: 100vh;
    width: 90vw;
    position: fixed;
    right: -10vw;
    align-self: flex-end;
    background-color: rgba(255, 109, 109, 0.8);
    clip-path: polygon(36% 0, 100% 0, 64% 100%, 0% 100%);
}
}

/* PROFILE BOX */

.profileBox {
    margin-top: 0;
    margin-left: 5%;
    height: 175px;
    width: 325px;
    padding: 0;

    visibility: hidden;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: column;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1.5px solid orange;
    box-shadow: 5px 5px 3px orange;
    z-index: 4;

    transition: 0.3s ease-in-out all;

}

.profileBoxInner {
    visibility: visible;
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 50px;
    border: 1.5px solid orange;
    box-shadow: 20px 20px rgb(255, 172, 47);
    align-self: end;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.profilePic {
    width: 75px;
    height: 75px;
    visibility: visible;
    margin-left: 7%;
    user-select: none;
    position: absolute;
    border-radius: 50%;
    border: 1.5px solid orange;
}

@media(min-width: 768px){
.profilePic {
    visibility: visible;
    margin-left: 7%;
    position: absolute;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: 1.5px solid orange;
}
}

@media (min-width: 768px){
    .profileBox {
        width: 1000px;
        height: 320px;
    }

    .profileBox:hover {
        height: 450px;
    }

    .profilePic {
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 768px){
.circle1 {
    height: 100px;
    width: 100px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 24%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}
}

.innerCircle1 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 2s ripple linear infinite;
}

@media (min-width: 768px){

.circle2 {
    height: 140px;
    width: 140px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    left: 75%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle3 {
    height: 80px;
    width: 80px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 60%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle4 {
    height: 170px;
    width: 170px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 2%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle5 {
    height: 110px;
    width: 110px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8%;
    left: 82%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

}

.innerCircle2 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 2s ripple linear infinite;
}

.innerCircle3 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 1s ripple linear infinite;
}

.innerCircle4 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 2s ripple linear infinite;
}

.innerCircle5 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 1.2s ripple linear infinite;
}
@keyframes ripple {
    0% { height: 0%; width: 0%;}
    100% { width: 100%; height: 100%;}
}


@media (max-width: 767px){

.circle2 {
    height: 70px;
    width: 70px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle3 {
    height: 40px;
    width: 40px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    right: 5%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle4 {
    height: 70px;
    width: 70px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 7%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle5 {
    height: 55px;
    width: 55px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 82%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

}

.innerCircle2 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 2s ripple linear infinite;
}

.innerCircle3 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 1s ripple linear infinite;
}

.innerCircle4 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 2s ripple linear infinite;
}

.innerCircle5 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 1.2s ripple linear infinite;
}

@media (min-width: 768px){

.circle6 {
    height: 120px;
    width: 120px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    left: 8%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle7 {
    height: 155px;
    width: 155px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18%;
    left: 35%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

.circle8 {
    height: 70px;
    width: 70px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 82%;
    right: 5%;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.8);
}

}

.innerCircle6 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 2.2s ripple linear infinite;
}

.innerCircle7 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 1.7s ripple linear infinite;
}

.innerCircle8 {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.8);
    animation: 4s ripple linear infinite;
}


.viewBox {
    overflow: hidden;
    z-index: 4;
    position: fixed;
    right: 12%;
    top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50%;
    border-radius: 50px;
    background-color: rgba(240,248,255,0.9);
}


@media (min-width: 768px){
.viewBox {
    right: 12%;
    top: 5%;
    width: 1000px;
    height: 90%;
}
}
.innerViewBox {
    z-index: 6;
    border-radius: 50px;
    background-color: aquamarine;
    height: 98%;
    width: 98%;
}

.rotatingBorder {
    z-index: 5;
    height: 200vh;
    position: absolute;
    visibility: visible;
    width: 10%;
    background-image: linear-gradient(rgba(255, 165, 0, 0.8), rgba(127,255,212, 0.8));

    animation: 4s rotateGradient linear infinite;
}

@keyframes rotateGradient {
    0% { transform: rotate(0deg); filter: hue-rotate(0deg)}
    100% {transform: rotate(360deg); filter: hue-rotate(360deg)}
}

@media (min-width:768px){
    .upArrow {
        visibility: hidden;
    }
    #upArrow {
        visibility: hidden;
    }
}

@media (max-width: 767px){
.upArrow {
    height: 24px;
    width: 22px;
    position: absolute;
    top: 27%;
    right: 10%;
    visibility: visible;

    animation: 2s rotateGradient linear infinte;
}
#upArrow {
    visibility: hidden;
}
.profileBox:has(#upArrow:active){
    height: 300px;
}
}