body {
    margin: 0;
    background: linear-gradient(rgb(255, 181, 44), orange);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

@media (max-width: 767px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.circleContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/* NAME TITLE & VIGNETTE*/

.mainName {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 300%;
    line-height: 1;
    user-select: none;
    z-index: 4;

    background: linear-gradient(90deg, white, rgb(0, 238, 255), white);
    background-size: 300% 300%;

    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    animation: statusHueShift 7s linear infinite;
}

@media (max-width: 767px){
    .mainName {
    top: 10%;
    position: fixed;
    font-size: 200%;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    cursor: default;
    z-index: 4;
}

}

@media (min-width: 768px){
.mainName {
    position: fixed;
    left: 10%;  
    top: 10%;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
    line-height: 1;
    user-select: none;
    z-index: 4;

    transition: transform 0.2s ease-in;
}
}


@media (max-width: 767px){
    .vignette-box {
        display: flex;
        flex-direction: column;
    }
}

.vignette-box {
    margin-top: -10%;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(ellipse at center, transparent 50%, rgba(121, 64, 255, 0.8) 100%);
    background-image: cover;

}

.overVignette {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-image: radial-gradient(ellipse at center, transparent 60%, rgba(20, 0, 66, 0.8) 100%);
    background-image: contain;
    opacity: 0.1;

    animation: 5s overVignetteShift linear infinite;
}
@media (min-width: 768px){
.overVignette {
    background-image: radial-gradient(ellipse at center, transparent 50%, rgba(20, 0, 66, 0.8) 100%);
}
}

@keyframes overVignetteShift {
    50% { filter: hue-rotate(180deg);}
    100% {filter: hue-rotate(360deg);}
}

@media(max-width: 767px){
.trapezoidBg {
    z-index: 3;
    width: 100vw;
    height: 30vh;
    background-color: rgba(255, 109, 109, 0.8);
    margin-top: 60%;
}
}

@media (min-width: 768px){
.trapezoidBg {
    z-index: 3;
    height: 100vh;
    width: 90vw;
    position: fixed;
    right: -10vw;
    align-self: flex-end;
    background-color: rgba(255, 109, 109, 0.8);
    clip-path: polygon(36% 0, 100% 0, 64% 100%, 0% 100%);
}
}

/* PROFILE BOX */

.profileBox {
    margin-top: 0;
    height: 175px;
    width: 325px;
    padding: 0;

    visibility: hidden;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: column;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1.5px solid orange;
    box-shadow: 5px 5px 3px orange;
    z-index: 4;
    box-sizing: border-box;

    transition: 0.3s ease-in-out all;

}

.profileBoxInner {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid orange;
    box-shadow: 20px 20px rgb(255, 172, 47);
    align-self: end;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    height: 60%;
    background-color: rgb(255, 255, 255)
}
.aboutMe {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
     background-color: rgba(255, 109, 109, 0.8);
    background-size: 300%;
    backdrop-filter: blur(20px);
    box-shadow:  2px 2px rgb(196, 195, 195);
}

.aboutMe p {
    visibility: hidden;
    margin-top: -3%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-style: normal;

  transition: 0.3s visibility ease-in all;
}

@keyframes hueShift {
    0% { filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg)};
}

.socialBox {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: rgba(255, 109, 109, 0.8);
    box-shadow:  2px 2px rgb(196, 195, 195);
}

.statusBox {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(255, 109, 109, 0.8);
    box-shadow:  2px 2px rgb(196, 195, 195);
}

.socialDiv {
    visibility: hidden;
    border-radius: 50px;
    width: 85%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 109, 109, 0.8);
}


.aboutMe h1 {
    font-size: 125%;
}

.socialBox h1 {
    font-size: 80%;
}

.statusBox h1 {
    font-size: 80%;
}

.statusBox p {
    visibility: hidden;
    transition: 0.3s ease-in-out all;
}

.profilePic {
    width: 75px;
    height: 75px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    visibility: visible;
    margin-left: 7%;
    user-select: none;
    position: absolute;
    border-radius: 50%;
    border: 1.5px solid orange;

    transition: 0.3s ease-in-out all;
}

@media (max-width: 767px){
    .boxes {
        border-radius: 25px;
    }
    .socialBox {
        height: 40px;
        width: 80px;
        border-radius: 25px;
    }
    .statusBox {
        height: 40px;
        width: 80px;
        border-radius: 25px;
    }
    .aboutMe {
        height: 40px;
        width: 100px;
        border-radius: 25px;
        font-size: 60%;
    }
}

@media(min-width: 768px){
.profilePic {
    visibility: visible;
    margin-left: 3%;
    margin-bottom: 0;
    position: fixed;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    object-fit: cover;
    border: 1.5px solid orange;
    box-shadow: 2px 2px 2px rgb(255, 157, 45);
}

.boxes {
    overflow-y: hidden;
}

.socialBox {
    height: 60%;
    width: 30%;
    box-shadow:  3px 3px rgb(196, 195, 195);
}

.aboutMe {
    height: 60%;
    width: 35%;
    box-shadow:  3px 3px rgb(196, 195, 195);
}

.statusBox {
    width: 25%;
    height: 60%;
    box-shadow:  3px 3px rgb(196, 195, 195);
}

.boxes div {
    border-radius: 25px;
}

.socialDiv i {
    color: white;
    font-size: 50px;
}

.profileBoxInner:hover .aboutMe {
    height: 90%;
    width: 35%;
}
.profileBox:hover .socialBox .socialDiv {
    visibility: visible;
}
.profileBoxInner:hover .statusBox p {
    font-size: 100%;
    visibility: visible;
     font-family: "Coiny", system-ui;
  font-weight: 700;
  font-style: normal;
  color: transparent;
    background: linear-gradient(90deg,blue,cyan,blue);
    background-size: 300%;
    background-clip: text;

    animation: statusHueShift 5s linear infinite;
}

.aboutMe h1 {
    margin-top: 6%;
    font-size: 150%;
}

.socialBox h1 {
    font-size: 150%;
}

.statusBox h1 {
    font-size: 150%;
}

}

@keyframes statusHueShift {
    0% { background-position: 0%;}
    100% { background-position: 300%;}
}

@media (min-width: 768px){
    .profileBox {
        width: 1000px;
        height: 320px;
        left: 5%;
    }

    .profileBox:hover {
        height: 650px;
    }

    .profileBox:hover .profilePic {
        margin-top: 2%;
    }

    .profileBox:hover .aboutMe p {
        visibility: visible;
    }

    .profilePic {
        height: 150px;
        width: 150px;

        transition: 0.2s ease-in-out all;
    }
}


nav h2 {
    font-size: 125%;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.boxesText {
    margin-top: 8%;
    font-size: 125%;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-style: normal;
}


@keyframes ripple {
    0% { height: 0%; width: 0%;}
    100% { width: 100%; height: 100%;}
}


.innerCircle {
    height: 100%;
    width: 100%;
    visibility: visible;
    border-radius: 50%;
    background-color: rgba(255, 123, 0, 0.8);
}

.circle {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:  rgba(255, 153, 0, 0.8);
}

@keyframes upNDown {
    0% { transform: translateY(0);}
    50% { transform: translateY(var(--transVar));}
    75% { transform: translateY(0);}
    90% { transform: translateY(calc(var(--transVar) + 5px));}
    100% { transform: translateY(0);}
}

.innerViewBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewBox {
    position: fixed;
    overflow: hidden;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40vh;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
}

.viewBoxWrapper {
    margin: 0;
    padding: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
}

@media (max-width: 767px){
    .viewBoxWrapper {
        justify-content: center;
        align-items: center;
    }
    .viewBox {
        margin-bottom: 20%;
    }
}
.artworkView {
    z-index: 7;
    border-radius: 25px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    transform: scale(0);

    transition: 0.3s ease-in-out all;
}

.servicesView {
    z-index: 8;
    border-radius: 25px;
    background-color: rgb(235, 255, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    transform: scale(0);

    transition: 0.3s ease-in-out all;
}

.servicesView h1 {
    font-size: 80%;
    color: rgb(255, 109, 109);
    font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.artworkView h1 {
    margin: 0;
    margin-bottom: 2%;
    text-shadow: 2px 2px orange;
    font-size: 200%;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: transparent;
  background: linear-gradient(90deg, rgba(255, 109, 109, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 109, 109, 0.8));
  background-size: 250%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  animation: statusHueShift 8s linear infinite;
}

.artDiv {
    border: 2px solid orange;
    border-radius: 25px;
    height: 90%;
    width: 90%;
    padding-right: 1%;
    background-color: rgba(255, 109, 109);
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.artDiv::-webkit-scrollbar {
    width: 10px;
}

.artDiv::-webkit-scrollbar-track {
    background: transparent;
}
.artDiv::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 5px;
    border: 1px solid rgb(52, 154, 250);
}

.popOutAni {
    animation: popOut 1s ease-out forwards;
}

.popInAni {
    animation: popIn 1.2s ease-in forwards;
}

@keyframes popOut {
    0% { transform:  scale(1); opacity: 1;}
    100% { transform: scale(0); opacity: 0;}
}

@keyframes popIn {
    0% {opacity: 0;}
    25% { transform: scale(0.8);}
    100% {transform: scale(1); opacity: 1;}
}

.popOutFastAni {
    animation: popOutFast 0.5s ease-out forwards;
}

.popInFastAni {
    animation: popInFast 0.5s ease-in forwards;
}

@keyframes popOutFast {
    100% { transform: translateX(-500vw); opacity: 0;}
}

@keyframes popInFast {
    0% {opacity: 0; border-radius: 25px;}
    25% { transform: scale(0.8);}
    100% {transform: scale(1); opacity: 1;}
}


.artDiv img {
    margin-top: 2%;
    margin-left: 2%;
    border: 2px solid orange;
    box-shadow: 2px 2px grey;
    border-radius: 15px;
}

.artDiv img:hover {
    cursor: pointer;
    transform: scale(1.025);
    border: 2px solid red;
}


@media (min-width: 768px){
.viewBox {
    margin-right: 15%;
    width: 900px;
    height: 80%;
}
.viewBoxWrapper {
    align-items: center;
    justify-content: flex-end;
}
}
.innerViewBox {
    z-index: 6;
    border-radius: 50px;
    background-color: aquamarine;
    height: 98%;
    width: 98%;
}

.rotatingBorder {
    z-index: 5;
    height: 200vh;
    position: absolute;
    visibility: visible;
    width: 10%;
    background-image: linear-gradient(rgba(255, 165, 0, 0.8), rgba(127,255,212, 0.8));

    animation: 4s rotateGradient linear infinite;
}

@keyframes rotateGradient {
    0% { transform: rotate(0deg); filter: hue-rotate(0deg)}
    100% {transform: rotate(360deg); filter: hue-rotate(360deg)}
}

@media (min-width:768px){
    .upArrow {
        visibility: hidden;
        position: absolute;
    }
    #upArrow {
        visibility: hidden;
        position: absolute;
    }
}

@media (max-width: 767px){

    .artworkView h1 {
        font-size: 150%;
    }
    .artDiv img {
        height: 30%;
        width: auto;
    }
.upArrowImg {
    height: 24px;
    width: 22px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    visibility: visible;
    filter: hue-rotate(250deg);
    -webkit-touch-callout: none;
    user-select: none;

    transition: 0.3s ease-in all;
}

@keyframes hueRotate {
    0% { filter: hue-rotate(0deg);}
    100% { filter: hue-rotate(360deg);}
}

#upArrow {
    visibility: hidden;
    width: 20px;
    height: 20px;
bottom: 5%;
right: 5%;
position: absolute;
}

#upArrow:checked + label .upArrowImg {
   transform: rotate(180deg);
}

.profileBox:has(#upArrow:checked) .aboutMe {
    overflow-y: scroll;
}
.profileBox:has(#upArrow:checked) .aboutMe p {
    visibility: visible;
}

.profileBox:has(#upArrow:checked){
    height: 400px;
}

.profileBox:has(#upArrow:checked) .profilePic{
    transform: translateY(5vh);
}

.profileBox:has(#upArrow:checked) .aboutMe {
    top: 35%;
    left: 5%;
    width: 100px;
    height: 150px;
}
.profileBox:has(#upArrow:checked) .statusBox {
    height: 100px;
}
.profileBox:has(#upArrow:checked) .socialBox {
    height: 100px;
}
.profileBox:has(#upArrow:checked) .socialBox .socialDiv {
    visibility: visible;
    color: white;
    font-size: 25px;
}
.profileBox:has(#upArrow:checked) .socialBox .socialDiv i {
    color: white;
}
.profileBox:has(#upArrow:checked) .statusBox p {
    visibility: visible;
    margin-top: -5%;
    margin-left: 20%;
    font-size: 80%;
    font-family: "Coiny", system-ui;
  font-weight: 700;
  font-style: normal;
  color: transparent;
    background: linear-gradient(90deg,rgb(0, 238, 255),blue,cyan);
    background-size: 300%;
    background-clip: text;

    animation: statusHueShift 5s linear infinite;
}
}

@media (min-width: 768px){
nav {
    z-index: 4;
    margin-left: 5%;
    margin-top: 2%;
    visibility: visible;
    border-radius: 25px;
    box-shadow: 3px 3px 2px goldenrod;
    height: 50px;
    width: 53%;
    border: 2px solid orange;
    display: flex;
    align-items: center;

    transition: 0.3s ease-in all;
}

.navLine {
    margin-left: 5%;
    border-radius: 50px;
    margin-top: 2%;
    width: 60%;
    height: 5px;
    background-color: rgba(255, 153, 0, 0.8);
}

.navLine2 {
    border-radius: 50px;
    margin-top: 2%;
    width: 90%;
    height: 3px;
    background-color: rgba(255, 153, 0, 0.8);
}


.orange {
    height: 30px;
    width: 10px;
    margin-left: 5%;
    margin-right: 2%;
    background-color: rgba(255, 153, 0, 0.8);
}

nav h2 {
    cursor: pointer;
    color: rgba(255, 153, 0, 0.8);
}

.postLogin {
    cursor: pointer;
    position: fixed;
    z-index: 20;
    bottom: 1%;
    right: 1%;
    font-size: 150%;
  font-family: "Molle", cursive;
  font-weight: 700;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 153, 0, 0.8);
}
.servicesView h1 {
    font-size: 250%;
}
}

@media(max-width: 767px){
    nav {
        box-shadow: 2px 2px 1px goldenrod;
        padding: 1%;
        border-radius: 15px;
        overflow-x: auto;
        overflow-y: hidden;
    z-index: 4;
    margin-left: 15%;
    margin-top: 3%;
    visibility: visible;
    height: 25px;
    width: 65%;
    border: 2px solid orange;
    display: flex;
    align-items: center;

    transition: 0.3s ease-in all;
}

nav::-webkit-scrollbar {
    visibility: hidden;
    width: 2px;
    height: 2px;
}
.navLine {
    border-radius: 50px;
    margin-top: 3%;
    width: 90%;
    height: 1.5px;
    background-color: rgba(255, 153, 0, 0.8);
}

nav h2 {
    margin-left: 5%;
    color: rgba(255, 153, 0, 0.8);
    font-size: 75%;
}

.postLogin {
    cursor: pointer;
    position: fixed;
    z-index: 20;
    top: 1%;
    right: 6%;
    font-size: 80%;
    font-family: "Molle", cursive;
  font-weight: 700;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 153, 0, 0.8);
}
}

@media (max-width: 767px){
    .profilePic{
        z-index: 5;
    }
    .postLogin {
        font-size: 80%;
        width: 20px;
    }
    .artDiv::-webkit-scrollbar {
    width: 5px;
}
}

.artPopView {
    z-index: 100;
    position: fixed;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(59, 24, 7, 0.7);

    transition: 0.3s popInFast ease-in-out all, 0.3s popOutFast ease-in-out all;
}
