body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(90deg, orange, white, orange)
}

/* LOADING SCREEN */


.loadingScreen {
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 2, 24);
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;

    animation: 1.5s swipeRight 1s linear forwards;
}

@keyframes swipeRight {
    70% { transform: translateX(50vw);}
    100% { transform: translateX(200vw);}
}

.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60%;
    gap: 10px;
}

.postingsLogo {
    font-size: 300%;
    margin: 0;
    color: transparent;
    background: linear-gradient(90deg, white, orange, orange);
    -webkit-background-clip: text;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.loadingDots {
    margin: 0;
    color: white;
    position: fixed;
    bottom: 5%;
    animation: dotsLoading 2s linear infinite;
}
.loadingMessage {
    margin: 0;
    height: 5vh;
    display: inline;
    color: orange;
    margin-top: 5%;
    font-size: 100%;

    animation: messageSlide 6s linear infinite;
}

@keyframes dotsLoading {
    0%   { clip-path: inset(0 66% 0 0); }  /* shows 1 dot */
    33%  { clip-path: inset(0 66% 0 0); }  /* holds on 1 dot */
    34%  { clip-path: inset(0 33% 0 0); }  /* snaps to 2 dots */
    66%  { clip-path: inset(0 33% 0 0); }  /* holds on 2 dots */
    67%  { clip-path: inset(0 0% 0 0);  }   /* snaps to 3 dots */
    100% { clip-path: inset(0 0% 0 0); }   /* holds on 3 dots */
}

@keyframes messageSlide {
    0% { transform: translatex(-200vh);}
    25% {transform: translateX(-5vh);}
    40% { transform: translateX(0);}
    100% { transform: translate(200vh);}
}


@media (min-width: 768px){
    .topSection {
         margin-top: 12%;
    }
    .postingsLogo {
    font-size: 800%;
    margin-bottom: 0;
}
.loadingDots {
    font-size: 1000%;
    margin-bottom: 1vh;
}
.loadingMessage {
    margin-bottom: 5%;
    font-size: 180%;
}
}

/* PAGE */

.pageWrapper {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.bgVignette {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    clip-path: ellipse(80% 55% at 50% 45%);
}

.secondLoader {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.267);
    z-index: 50;
    backdrop-filter: blur(10px);

    animation: 5s blurFade 3s linear forwards;
}

@keyframes blurFade {
    100% { backdrop-filter: blur(0px);}
}

.secondLoader h1 {
    font-size: 200%;
    margin-top: -10%;
  font-family: "Chewy", system-ui;
  font-weight: 700;
  font-style: normal;
  color: orange;

  animation: 1.5s blurTextZoom 4s linear forwards;
}

@keyframes blurTextZoom {
    100%  { visibility: hidden;}
}

@media(min-width: 768px){
    .bgVignette {
        clip-path: ellipse(65% 65% at 50% 40%);
    }
    
.secondLoader h1 {
    font-size: 500%;
}

}